a{
    text-decoration: none; 

}

body{
    font-family: 'Open Sans', sans-serif;
}

#cubierta{
    width: 940px;
    margin: 0px 15px 0px 15px;
    background-color: blue;
    padding: 0px 15% 0px 15%;
}
header{
    float: left;
    margin: 0px 0px 30px 0px;
    padding: 5px 0 0 0;
    width: 100%;

}
#logo{
    text-align: center;
    margin: 0%;
}

header{
    background-color: #98A8F8;
    border-style: groove;
    border-color: #905E96;
    border-radius: 30px;
}

h1,h2{
    color: #FFF;
}

nav a, nav a:visited{
    color: #FFF;
}

nav a.selected, nav a:hover{
	color: orange;
}

body{
    background-color: #FFF;
    color: #808080;
}

h1{
	font-family: 'Courgette', cursive;
    margin: 15px 0px 15px 0px;
    font-size: 1.75em;
    font-weight: normal;
    
}

h2{
    font-size: 1em;
    margin: -13px 0px 0px;
    font-weight: normal;
}

/* NAVEGACION */

nav{
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}
/* PIE DE PAGINA */
footer{
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #CCC;
    clear: both;
}

img{
    width: 100%;

}


#galeria{
    margin: 0;
    padding: 0;
    list-style: none;
}

#galeria li{
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #D61C4E;
	color: #1CD6CE;
}

#galeria li a p{
    margin: 0;
    padding: 5%;
    font-size: 0.9em;
    color: #1CD6CE;
}

nav ul{
    list-style: none;
    margin: 0 10 0 10;
    padding: 0;
}

nav li{
    display: inline-block;
}
nav{
    width: 800;
    padding: 15px 8px 15px 8px;
}

#icono-social{
    width: 20px;
    height: 20px;
    margin: 0 5px 0 5px;
}