a{
    text-decoration: none; 

}

body{
    font-family: 'Open Sans';
    background-color: #FFF;
    color: #424040;
}
#cubierta{
    width: 88%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #cdebfc;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5%;
    padding-right: 5%;
}

#logo{
    text-align: center;
    margin: 0%;
}

header{
    background-color: #98A8F8;
    border-style: groove;
    border-color: #FAF7F0;
    border-radius: 30px;
    float: left;
    margin: 0px 0px 30px 0px;
    padding: 5px 0 0 0;
    width: 100%;
}

h1,h2{
    color: #FFF;
}

h1{
	font-family: 'Courgette', cursive;
    margin: 15px 0px 15px 0px;
    font-size: 1.75em;
    font-weight: normal;
    
}

h2{
    font-size: 1em;
    margin: -13px 0px 0px;
    font-weight: normal;
}

/* NAVEGACION */

nav a, nav a:visited{
    color: #FFF;
}

nav a.selected, nav a:hover{
	color: #48eff5;
}

nav{
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
    font-weight: 800;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 8px;
    padding-right: 8px;
}

nav ul{
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
}

nav li{
    display: inline-block;
}

/* PIE DE PAGINA */
footer{
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #CCC;
    clear: both;
}

img{
    max-width: 100%;

}
/* 
GALERIA
*/

#galeria{
    margin: 0;
    padding: 0;
    list-style: none;
}

#galeria li{
	float: left;
	width: 45%;
	margin: 2.5%;
	background-color: #FAF7F0;
	color: #BCCEF8;
}

#galeria li a p{
    margin: 0;
    padding: 5%;
    font-size: 0.9em;
    color: #1CD6CE;
}

.icono-social{
    width: 20px;
    height: 20px;
    margin: 0 5px 0 5px;
}
.foto-perfil{
    display: block;
    max-width: 155px;              
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 100%;  
}

info-contacto{
    list-style: none;
    margin: 0;
    font-size: 0.9em;
}



.info-contacto li.telefono a{
    background-image:url('img/phone.png');
}

.info-contacto li.email a{
    background-image:url('img/mail.png');
}

.info-contacto li.twitter a{
    background-image:url('img/twitter.png');
}
.info-contacto a{
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}